<ion-card>
  <ion-item>
    <span class="numero-noticia ion-text-center" slot="start">{{indice}}.</span>
    <ion-card-subtitle>
      <div> {{ noticia.source.name }} </div>
      <div class="tiempo">{{ noticia.publishedAt | relativeTime }}</div>

    </ion-card-subtitle>

    <ion-buttons slot="end">
        <ion-icon  name="star"  *ngIf="noticia.isFavorite"></ion-icon>
        <ion-button fill="clear" color="primary" (click)="presentActionSheet()">
          <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-buttons>
    
    

  </ion-item>
  <ion-card-header>


    <ion-card-title (click)="abrirNoticia()">{{ noticia.title }}</ion-card-title>



  </ion-card-header>
  <!-- Si la imagen no esta diponible oculta el contenido-->
  <img (click)="abrirNoticia()" *ngIf="noticia.image" [src]="noticia.image"
    onerror="this.style.display='none'" />

  <ion-card-content>

    <!-- <div class="ion-hide-sm-down">-->
    <div>
      {{noticia.description}}
    </div>
  </ion-card-content>
</ion-card>