<ion-card>
  <ion-item>

    <ion-card-subtitle>
      <span class="numero-noticia">{{indice}}.</span>{{ noticia.source.name }} - <span
        class="tiempo">{{ noticia.publishedAt | relativeTime }}</span>
    </ion-card-subtitle>

    <ion-button fill="clear" slot="end" (click)="presentActionSheet()">
      <ion-icon name="more" slot="icon-only"></ion-icon>
    </ion-button>

  </ion-item>
  <ion-card-header>


    <ion-card-title (click)="abrirNoticia()">{{ noticia.title }}</ion-card-title>



  </ion-card-header>
  <!-- Si la imagen no esta diponible oculta el contenido-->
  <img (click)="abrirNoticia()" *ngIf="noticia.urlToImage" [src]="noticia.urlToImage"
    onerror="this.style.display='none'" />

  <ion-card-content>

    <!-- <div class="ion-hide-sm-down">-->
    <p>
      {{noticia.description}}
    </p>
  </ion-card-content>
</ion-card>