.tiempo {
    font-size: 12px !important;
}

.numero-noticia {
    color:var(--ion-color-primary) !important;
    margin-left: 5px !important;
    margin-right: 15px !important;
    font-weight: 550 !important;
}